<section id="stats">
    <div class="section-head">
        <h1>Statistiques</h1>
        <p>Statistiques générales sur différentes activitées sportives</p>
    </div>
    <div class="counter">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="nbBikeRide">
                        <p class="counter-count">879</p>
                        <p class="nbBikeRide-p">Nombre de sorties VTT en 2019</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="nbBikeRideTotal">
                        <p class="counter-count">879</p>
                        <p class="nbBikeRideTotal-p">Nombre de sorties total VTT.</p>
                    </div>
                </div>
    
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="nbKm">
                        <p class="counter-count">954</p>
                        <p class="nbKm-p">Km parcourus en VTT en 2019.</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="nbKmTotal">
                        <p class="counter-count">954</p>
                        <p class="nbKmTotal-p">Km parcourus au total en VTT.</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="deniveleTotal">
                        <p class="counter-count">954</p>
                        <p class="deniveleTotal-p">Dénivelé total en VTT (m).</p>
                    </div>
                </div>
    
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="nbCrossfit">
                        <p class="counter-count">1050</p>
                        <p class="nbCrossfit-p">Nombre de séances de crossfit en 2019.</p>
                    </div>
                </div>
    
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="nbCrossfitTotal">
                        <p class="counter-count">1050</p>
                        <p class="nbCrossfitTotal-p">Nombre total de séances de crossfit.</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="recordDeadLift">
                        <p class="counter-count">80</p>
                        <p class="recordDeadLift-p">Record personnel au soulevé de terre (Kg).</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="recordBackSquat">
                        <p class="counter-count">80</p>
                        <p class="recordBackSquat-p">Record personnel au back squat (Kg).</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="recordFrontSquat">
                        <p class="counter-count">80</p>
                        <p class="recordFrontSquat-p">Record personnel au front squat (Kg).</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="recordEpaule">
                        <p class="counter-count">40</p>
                        <p class="recordEpaule-p">Record personel à l'épaulé (Kg).</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="ndSautsParapente">
                        <p class="counter-count">1</p>
                        <p class="ndSautsParapente-p">Nombre de sauts en parapente.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</section>