<!DOCTYPE html>
<html>
<head>
	<% include ../partials/includesHead %>
	<!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar" data-offset="50">
	<% include ../partials/nav %>

	<div class="main-container">
		<% include ../partials/header %>
		<% include ../partials/statistics %>
		<% include ../partials/gear %>
		<% include ../partials/about %>
	</div>
	<% include ../partials/includesFoot %>
</body>
</html>
